@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #555;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

#hero {
  align-content: center;
  background-color: grey;
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  text-align: center;
}

#hero h1 {
  font-size: 60px;
  margin-bottom: 15px;
  text-shadow: 2px 2px #000;
}

#hero h3 {
  font-size: 28px;
  margin-bottom: 40px;
  text-shadow: 2px 2px #000;
}

#hero a.btn {
  color: white;
  background-color: #131633;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
  margin: 1rem auto;
  opacity: 1;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 25%;
}

#hero a.btn:hover {
  background-color: #2196f3;
}

#about {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}

.title {
  color: #131633;
  font-size: 32px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: capitalize;
}

#two-cols {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-img img {
  border: 4px solid #2196f3;
}

.about-bio {
  line-height: 2;
  margin-left: 20px;
  max-width: 800px;
  width: 65%;
}

hr {
  background-color: #2196f3;
  border: 0;
  height: 2px;
  margin: 40px auto;
  width: 150px;
}

#gallery {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gallery p {
  line-height: 2;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  width: 65%;
}

#gallery .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#gallery .grid li {
  background-clip: content-box;
  background-color: #333;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  height: 350px;
  list-style-type: none;
  margin: 1rem;
}

#gallery .grid li.small {
  flex-basis: 35%;
}

#gallery .grid li.large {
  flex-basis: 60%;
}

#gallery-img1 {
  background-image: url('../img/alaska-wilderness-sky-aurora-borealis.jpg');
}

#gallery-img2 {
  background-image: url('../img/glacier.jpg');
}

#gallery-img3 {
  background-image: url('../img/alaska-glacier-ice-mountains.jpg');
}

#gallery-img4 {
  background-image: url('../img/clouds.jpg');
}

#getting-around {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

#getting-around p {
  margin-bottom: 20px;
}

#getting-around ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#getting-around li {
  list-style-type: none;
  margin: 1rem;
}

#getting-around li h4 {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

.icon {
  color: #2196f3;
  font-size: 40px;
  margin-bottom: 20px;
}

#famous-quotes {
  background-color: #fafafa;
  padding-bottom: 40px;
  text-align: center;
}

#famous-quotes .portrait-photos {
  border: 4px solid #2196f3;
  border-radius: 50%;
  margin-bottom: 10px;
}

#famous-quotes .portrait-photos:first-child {
  margin-top: 20px;
}

#famous-quotes .quote {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0;
}

#famous-quotes .author {
  margin: 20px auto;
}

#famous-quotes .author:last-child {
  margin-bottom: 0;
}

footer {
  align-items: center;
  background: linear-gradient(to bottom, #284e7a, #000 100%);
  background-color: #131622;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

footer ul {
  display: flex;
  list-style: none;
  margin-bottom: 25px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li a {
  color: white;
  cursor: pointer;
  font-size: 36px;
}

@media (max-width: 800px) {
  #hero h1 {
    font-size: 36px;
  }

  #hero h3 {
    font-size: 18px;
  }

  #hero a.btn {
    padding: 0.5rem;
    width: 40%;
  }

  #two-cols {
    flex-direction: column;
  }

  .about-bio {
    line-height: 1.5;
    margin-top: 20px;
  }

  #gallery p {
    line-height: 1.5;
  }

  #gallery .grid li.small {
    flex-basis: 100%;
  }

  #gallery .grid li.large {
    flex-basis: 100%;
  }

  #getting-around ul {
    flex-direction: column;
  }

  #famous-quotes .quote {
    font-size: 18px;
    padding: 0 20px;
  }
  #famous-quotes .author {
    font-size: 14px;
  }

  footer {
    padding: 80px 15px;
  }
}
